<footer class="text-center text-white">
	<div class="container">
		<section class="mb-2">
			<!-- Linkedin -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/samuel-s-marques/" role="button"><i class="fab fa-linkedin"></i></a>

			<!-- Github -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/samuel-s-marques" role="button"><i class="fab fa-github"></i></a>
		</section>
	</div>

	<div class="text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2021 Copyright Sam Marques. Source code available on
		<a class="text-dark" href="https://github.com/samuel-s-marques/MyURLShortener">Github</a>.
	</div>
</footer>